{% extends "base.html.twig" %}

{% block main %}

<main class=menu>

		    	 {#<h3>{{  menu.vegetarian|escape }}</h3>#}
		    	 {# <h3>{{  menu.vegetarian|escape }}</h3>#}
		    	 {#  <h3>{{  menu.vegetarian|escape }}</h3>#}
		    
		 <ul>
		    {% for menu in  menus %}
		    	<li>
		    		<article>
		    			<figre>
	                            <img src="{{  menu.picture|escape }}" width="150"/>
	                    </figre>
	                     <section>      
				            <h4>{{  menu.name|escape }}</h4>
				           
				            <p>{{  menu.discription|escape }}</p>
			             </section> 
			         </article>
		         </li>
		     {% endfor %}
		  </ul>  
</main>	

{% endblock %}
	  
