{% extends "base.html.twig" %}

{% block main %}

<main class=menu>
		    	 <h1><a href="index.php?route=Nos-plats">Nos plats</a></h1>
			     <nav>
			        <ul>
			                <li>
			                    <a href="index.php?route=categorie-meat">Plats de viande</a>
			                </li>
			                <li>
			                    <a href="index.php?route=categorie-vegetarian">Plats végétariens</a>
			                </li>
			                <li>
			                    <a href="index.php?route=categorie-dessert">Desserts</a>
			                </li>
			               
			        </ul>
			    </nav>
   
				 <ul>
				   {% for menuWithIngredients in menusWithIngredients %}
				    	<li>
				    		<div>
				    			<figure>
			                            <img src="{{ menuWithIngredients.menu.picture|escape }}" width="150"/>
			                    </figure>
			                     <section>      
						            <h4>{{ menuWithIngredients.menu.name|escape }}</h4>
						            
						            <ul>
		                            {% for ingredient in menuWithIngredients.ingredients %}
		                                <li>{{ ingredient.name|escape }}</li>
		                            {% endfor %}
		                        </ul>
					             </section> 
					        </div>
				         </li>
				     {% endfor %}
				  </ul> 
				 

					 <ul>
					      {% for menuMeats in menusMeats %}
			            <li>
			                <div>
			                    <figure>
			                        <img src="{{ menuMeats.meat.picture|escape }}" width="150"/>
			                    </figure>
			                    <section>
			                        <h4>{{ menuMeats.meat.name|escape }}</h4>
			                            <ul>
			                                {% for ingredient in menuMeats.ingredients %}
			                                    <li>{{ ingredient.name|escape }}</li>
			                            {% endfor %}
			                        </ul>
						             </section> 
						        </div>
					         </li>
					     {% endfor %}
					  </ul>  
		  
				  <ul>
		            {% for menuVegetarians in menusVegetarians %}
		            <li>
		                <div>
		                    <figure>
		                        <img src="{{ menuVegetarians.vegetarian.picture|escape }}" width="150"/>
		                    </figure>
		                    <section>
		                        <h4>{{ menuVegetarians.vegetarian.name|escape }}</h4>
		                            <ul>
		                                {% for ingredient in menuVegetarians.ingredients %}
		                                    <li>{{ ingredient.name|escape }}</li>
		                            {% endfor %}
		                        </ul>
					             </section> 
					        </div>
				         </li>
				     {% endfor %}
				  </ul> 
				  
				   <ul>
				     {% for menuDesserts in menusDesserts %}
		            <li>
		                <div>
		                    <figure>
		                        <img src="{{ menuDesserts.dessert.picture|escape }}" width="150"/>
		                    </figure>
		                    <section>
		                        <h4>{{ menuDesserts.dessert.name|escape }}</h4>
		                            <ul>
		                                {% for ingredient in menuDesserts.ingredients %}
		                                    <li>{{ ingredient.name|escape }}</li>
		                            {% endfor %}
		                        </ul>
					             </section> 
					        </div>
				         </li>
				     {% endfor %}
				  </ul>  
</main>	

{% endblock %}
	  
