{% extends "base.html.twig" %}

{% block main %}

<main class=menu>
		    	 <h2><a href="index.php?route=Nos-plats">Nos plats</a></h2>
			     <nav>
			        <ul>
			                <li>
			                    <a href="index.php?route=categorie-meat">Plats de viande</a>
			                </li>
			                <li>
			                    <a href="index.php?route=categorie-vegetarian">Plats végétariens</a>
			                </li>
			                <li>
			                    <a href="index.php?route=categorie-dessert">Desserts</a>
			                </li>
			               
			        </ul>
			    </nav>
   
    
		 <ul>
		    {% for menu in  menus %}
		    	<li>
		    		<div>
		    			<figre>
	                            <img src="{{  menu.picture|escape }}" width="150"/>
	                    </figre>
	                     <section>      
				            <h4>{{  menu.name|escape }}</h4>
				           
				            <p>{{  menu.discription|escape }}</p>
			             </section> 
			        </div>
		         </li>
		     {% endfor %}
		  </ul> 
		 

		 <ul>
		    {% for meat in  meats %}
		    	<li>
		    	  <div>
		    			<figre>
	                            <img src="{{  meat.picture|escape }}" width="150"/>
	                    </figre>
	                     <section>      
				            <h4>{{  meat.name|escape }}</h4>
				           
				            <p>{{  meat.description|escape }}</p>
			             </section> 
			        </div>
		         </li>
		     {% endfor %}
		  </ul>  
		  
		   <ul>
		    {% for vegetarian in  vegetarians %}
		    	<li>
		    		<div>
		    			<figre>
	                            <img src="{{  vegetarian.picture|escape }}" width="150"/>
	                    </figre>
	                     <section>      
				            <h4>{{  vegetarian.name|escape }}</h4>
				           
				            <p>{{  vegetarian.description|escape }}</p>
			             </section> 
			         </div>
		         </li>
		     {% endfor %}
		  </ul>  
		  
		   <ul>
		    {% for dessert in  desserts %}
		    	<li>
		    		<div>
		    			<figre>
	                            <img src="{{  dessert.picture|escape }}" width="150"/>
	                    </figre>
	                     <section>      
				            <h4>{{  dessert.name|escape }}</h4>
				           
				            <p>{{  dessert.description|escape }}</p>
			             </section> 
			         </div>
		         </li>
		     {% endfor %}
		  </ul>  
</main>	

{% endblock %}
	  
